.DS_Store
node_modules
/dist

frontEnd_simon/node_modules
frontEnd_simon/dist

java-full-stack/frontend/node_modules
java-fill-stack/frontend/dist

finalListOfKanban/node_modules
finalListOfKanban/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
